#------------------------------------------------------------
# Copyright (c) 2020 Thomas Kais
#
# This file is subject to the terms and conditions defined in
# file 'COPYING', which is part of this source code package.
#------------------------------------------------------------

**/.git