#------------------------------------------------------------
# Copyright (c) 2019 Thomas Kais
#
# This file is subject to the terms and conditions defined in
# file 'COPYING', which is part of this source code package.
#------------------------------------------------------------

[submodule "gphoto2-updater"]
	path = gphoto2-updater
	url = https://github.com/gonzalo/gphoto2-updater.git
	branch = master
